/* RegistrationPage.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .form {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .inputField {
    margin-bottom: 1em;
    width: 100%;
  }
  
  .inputField input,
  .inputField select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .submitButton {
    padding: 0.5em 1em;
    background-color: #0055ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0035bb;
  }
  
  .title {
    margin-bottom: 1em;
  }
  